[submodule ".local/share/z.lua"]
	path = .local/share/z.lua
	url = https://github.com/skywind3000/z.lua.git
[submodule ".local/share/zsh-autosuggestions"]
	path = .local/share/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".local/share/zsh-syntax-highlighting"]
	path = .local/share/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/zsh-completions"]
	path = .local/share/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
